.throwScoreWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;

}

.throwScore {
  height: 3em;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.throwScoreLast {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
