.frameWrapper {
  width: 8em;
  height: 12em;
  border: 1px solid black;
  position: relative;
}

.frameNumber {
  padding: 0.5em 0 0.5em 0;
  margin: 0;
  border-bottom: 1px solid black;
  color: black;
}

.frameTotal {
  color: black;
}
