.field {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.label {
  margin-bottom: 0.5em;
  color: black;
  font-size: 22px;
}

.input {
  margin-bottom: 1em;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.5em;
  color: black;
  text-align: center;
  font-size: 20px;
}

.submit {
  padding: 1.2em 1em;
  font-size: 16px;
  border-radius: 100%;
  font-weight: bold;
  border: none;
}
.error {
  color: red;
  font-size: 18px;
}
